<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/wcupstats?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">adminCiRTagI</property>
    <property name="hibernate.connection.password">FDGx3lJP3v_h</property>
    <mapping resource="model/Enunsd/Selecao.hbm.xml"/>
    <mapping resource="model/Enunsd/Gol.hbm.xml"/>
    <mapping resource="model/Enunsd/Jogador.hbm.xml"/>
    <mapping resource="model/Enunsd/Tecnico.hbm.xml"/>
    <mapping resource="model/Enunsd/Substituicao.hbm.xml"/>
    <mapping resource="model/Enunsd/Escalacao.hbm.xml"/>
    <mapping resource="model/Enunsd/Jogo.hbm.xml"/>
    <mapping resource="model/Enunsd/Pais.hbm.xml"/>
    <mapping resource="model/Enunsd/Copa.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
